/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: #b1cfa3; */
    background-color: #7da581;
    background-image: url("assets/background-pattern.png");
    background-size: 200px;
    background-repeat: repeat;
}


